/* Write your CSS code here */

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}
